
.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.shn{
    display: flex;
}

.container{
    font-size: 100px;
}
button{
    padding: 35px;
    border-radius: 50%;
    font-size: 25px;
}



.buttons{
    display: flex;
    width: 50%;
    position: relative;
    right: 80px;
}

.contain{
    display: flex;
    flex-direction: column;
    
}
.whole{
    display: flex;
    justify-content: space-around;
}
body{
    background-color: rgb(105, 160, 216);
}
#startstop{
    background-color: rgb(35, 135, 217);
}
button{
    margin-right: 30px;
}
