/* div{
    border: 1px solid black;
} */
.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.shn{
    display: flex;
}
#split{
    display:flex;
    flex-direction: column;
}
.container{
    font-size: 100px;
}
button{
    padding: 35px;
    border-radius: 50%;
    font-size: 25px;
}
/* #startstop{
    background-color: lightblue;
} */

#spl{
    background-color: white;
}
#split{
    font-size: larger;
}
.button{
   
    display: flex;
   
}
.buttons{
    display: flex;
    width: 50%;
}
